body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

#nav-mobile {
    display: none;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mobile-links {
    display: none;
}

#main-nav {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin: 3vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img {
    padding: 0.3vh;
    padding-bottom: 1vh;
}

.modals{
    display: none;
}

.modals.show {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #060D17;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    border-radius: 15px;
    padding-bottom: 2%;
    color: #D5D5D5;
    font-family: 'Lato', sans-serif;
}

.modal-title {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#back{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

.modal-title h2 {
    margin-top: 5%;
    color: rgb(248, 177, 0);
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.modal-body span {
    margin: 5%;
    margin-left: 10%;
    width: 15%;
    text-align: right;
}

.modal-body input {
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 17px;
    width: 50%;
    height: 4.3vh;
    border-radius: 10px;
    background-color: #2f3740;
    color: white;
    font-family: 'Lato', sans-serif;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#register {
    justify-content: center;
}

#change-modal{
    color: rgb(248, 177, 0);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: auto;
    margin-left: 2%;
    cursor: pointer;
}

.modal-footer {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80%;
}

.enter {
    border: 0;
    background-color: rgb(248, 177, 0);
    color: black;
    border-radius: 8px;
    padding: 2%;
    font-family: 'times new roman';
    font-size: 19px;
    min-width: 35%;
}

a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: 'Roboto', Helvetica;
    color: gray;
    text-decoration: none;
}

a:hover {
    color: rgb(227, 223, 223);
}

.user {
    cursor: pointer;
}

footer p {
    color: rgb(165, 164, 164);
    text-align: left;
    margin-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.copyright {
    color: rgb(248, 177, 0);
}

footer {
    background-color: black;
    padding-top: 1vh;
}

@media(max-width: 970px) {
    #nav-mobile {
        display: flex;
        justify-content: space-around;
    }

    #logo-mobile {
        margin-bottom: 1.5em;
        margin-top: 1em;
        height: 5vh;
    }

    .images {
        width: 32px;
        height: 32px;      
        position: relative;
        top: 3vh;
    }

    #mobile-links.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: black;
    }

    #main-nav {
        display: none;
    }

    footer p {
        margin-left: 5vh;
    }

    .modal {
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
    }

    .modal-title {
        margin-top: 15%;
    }
}